*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 550vh;
    display: flex;
    flex-direction: column;
    user-select: none;
    background-color: black;
    overflow: hidden;
}

section{
    scroll-snap-align: start;
}

#one{
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: translateY(0px);
}

.onetop1{
    width: 0%;
    height: 80px;
    background-color: rgba(107, 107, 107, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0%;
    transition: all .7s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    visibility: hidden;
}

.onetop1new{
    width: 100%;
    opacity: 100%;
    visibility: visible;
}

.onetop1 >a{
    color: rgb(156, 156, 156);
    text-decoration: none;
    font-size: 20px;
    font-family: "Helvetica";
    transition: all .2s ease-in-out;
}

.onetop1 >a:hover{
    color: #e63946;
}

.hamburger{
    position: absolute;
    width: 60px;
    height: 35px;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    position: fixed;
    z-index: 1;
}

.line1, .line3{
    width: 100%;
    height: 6.5px;
    background-color: #e63946;
    border-radius: 10px;
    transition: all .6s ease-in-out;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.line2{
    width: 45%;
    height: 6.5px;
    background-color: #e63946;
    border-radius: 10px;
    transition: all .6s ease-in-out;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger:hover{
    cursor: pointer;
}

.line1new{
    transform: rotate(45deg) translateY(20px);
    background-color: rgb(255, 255, 255);
}

.line2new{
    opacity: 0;
    transform: translateX(20px);
    visibility: hidden;
    background-color: rgb(255, 255, 255);
}

.line3new{
    transform: rotate(-45deg) translateY(-20px);
    background-color: rgb(255, 255, 255);
}

.onebtm{
    width: 100%;
    height: 100vh;
    display: flex;
}

.onebtmleft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.onebtmright{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 40px;
    flex-direction: column;
    gap: 5px;
}

.intro{
    font-size: 35px;
    font-family: "Helvetica";
    color: #e63946;
}

.intro1{
    font-size: 90px;
    font-family: "Impact";
    color: #e63946;
}

.intro2{
    font-size: 18px;
    font-family: "Helvetica";
    color: rgb(255, 255, 255);
}

.img1{
    width: 400px;
    height: auto;
    border-radius: 4px;
}

#two{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 40px 40px 40px;
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: translateY(30px);
}

.img2{
    width: 80%;
    height: auto;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #e63946;
}

.twotop{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #e63946;
    font-size: 70px;
    font-family: "Impact";
}

.twobtm{
    width: 100%;
    height: 80vh;
    display: flex;
}

.twobtmleft{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 5px;
}

.twobtmright{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
    padding-left: 40px;
}

.twointro{
    color: #ffffff;
    font-size: 45px;
    font-family: "Coolvetica";
    font-weight: 900;
    letter-spacing: .07em;
}

.twointro1{
    color: rgba(140, 140, 140, 0.845);
    font-size: 18px;
    line-height: 25px;
    font-family: "helvetica";
}

.twobox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

p{
    font-size: 20px;
    font-family: "helvetica";
    margin-top: 20px;
    color: #ffffff;
}

span{
    color: #d33b4f;
}

.nameBox{
    display: flex;
    gap: 20px;
}

#three{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 40px 40px 40px 40px;
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: translateY(30px);
}

.threeleft{
    width: 50%;
    height: 100%;
    border-right: 2px solid #d33b4f;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    overflow: hidden;
    padding-bottom: 10%;
    justify-content: space-between;
}

.threeright{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    overflow: hidden;
    padding-top: 10%;
    justify-content: space-between;
}

.intro3{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.intro3 >p{
    font-size: 40px;
    font-family: "Impact";
    position: relative;
}

.intro3 >p:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d33b4f;
    right: -105%;
    top: 50%;
}

.intro3 >p1{
    font-size: 18px;
    font-family: "Helvetica";
    color: rgb(102, 102, 102);
    text-align: end;
}

.intro4{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.intro4 >p{
    font-size: 40px;
    font-family: "Impact";
    position: relative;
}

.intro4 >p:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d33b4f;
    left: -105%;
    top: 50%;
}

.intro4 >p1{
    font-size: 18px;
    font-family: "Helvetica";
    color: rgb(102, 102, 102);
}

#four{
    width: 100%;
    height: 85vh;
    padding: 40px 40px 20px 40px;
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: translateY(30px);
}

.fourbox{
    width: 100%;
    height: 100%;
    display: flex;
    border: 2px solid #e63946;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    border-radius: 20px;
}

.fourtop{
    width: 100%;
    height: 20%;
    color: #ffffff;
    font-size: 60px;
    font-family: "Impact";
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #e63946;
}

.fourbtm{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillbox{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.skillname > span{
    font-size: 30px;
    font-family: "Impact";
    color: #797979;
}

.skillname{
    font-size: 25px;
    font-family: "Helvetica";
    color: white;
}

.skillinfo1, .skillinfo2, .skillinfo3, .skillinfo4 ,.skillinfo5, .skillinfo6, .skillinfo3-1, .skillinfo6-1 {
    width: 93%;
    height: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.skillinfo1:before{
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    background-color: #e63946;
    animation: zoom1  4s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes zoom1 {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

.skillinfo2:before{
    content: "";
    position: absolute;
    width: 75%;
    height: 100%;
    border-radius: 20px;
    background-color: #e63946;
    animation: zoom2  4s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes zoom2 {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

.skillinfo3:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background-color: #e63946;
    animation: zoom3  4s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes zoom3{
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}

.skillinfo3-1:before{
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    border-radius: 20px;
    background-color: #e63946;
    animation: zoom3-1  4s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes zoom3-1 {
    from {
        width: 0;
    }
    to {
        width: 20%;
    }
}

.skillinfo4:before{
    content: "";
    position: absolute;
    width: 55%;
    height: 100%;
    border-radius: 20px;
    background-color: #e63946;
    animation: zoom4 4s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes zoom4 {
    from {
        width: 0;
    }
    to {
        width: 55%;
    }
}

.skillinfo5:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #e63946;
    animation: zoom5  4s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes zoom5 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.skillinfo6:before{
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    border-radius: 20px;
    background-color: #e63946;
    animation: zoom6  4s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes zoom6 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

.skillinfo6-1:before{
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-color: #e63946;
    animation: zoom6-1  4s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes zoom6-1 {
    from {
        width: 0;
    }
    to {
        width: 40%;
    }
}

#one.inview {
    opacity: 1;
    -webkit-transform: none;
            transform: translateY(0px);
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

#two.inview {
    opacity: 1;
    -webkit-transform: none;
            transform: translateY(0px);
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

#three.inview {
    opacity: 1;
    -webkit-transform: none;
            transform: translateY(0px);
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

#four.inview {
    opacity: 1;
    -webkit-transform: none;
            transform: translateY(0px);
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

#five.inview {
    opacity: 1;
    -webkit-transform: none;
            transform: translateY(0px);
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

#five{
    width: 100%;
    height: 120vh;
    display: flex;
    padding: 20px 40px 40px 40px;
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: translateY(30px);
    flex-direction: column;
}

.fivetop{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 70px;
    font-family: "Impact";
    color: #ffffff;
}

.fivebtm{
    width: 100%;
    height: 85%;
    display: flex;
    gap: 50px;
}

.fivebtmleft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fivebtmright{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box1{
    width: 100%;
    height: 40%;
    display: flex;
    background-color: #e63946;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: white;
    font-family: "Coolvetica";
}

.basketball{
    width: max-content;
    font-size: 100px;
    color: white;
    font-family: "Coolvetica";
    position: relative;
}

.basketball:before{
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    border-left: 8px solid black;
    background-color: #e63946;
    right: -20px;
    animation: typing 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

@keyframes typing {
    0%{
        width: 100%;
    }

    100%{
        width: 0%;
    }
}

.box2{
    width: 100%;
    height: 60%;
    display: flex;
    background-color: #000000;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.img3{
    width: auto;
    height: 100%;
    animation: up 4s ease-in-out infinite;
    transition: all .4s ease-in-out;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.imgintro{
    position: absolute;
    font-size: 70px;
    font-family: "Coolvetica";
    right: 20px;
    bottom: 10px;
    color: #ffffff;
    transition: all .4s ease-in-out;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    visibility: hidden;
    transform: translateX(200px);
}

.fivebtmright{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.box2:hover .img3{
    opacity: 50%;
    transform: scale(1.1);
}

.box2:hover .imgintro{
    margin: auto;
    color: #e63946;
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

.box4{
    width: 100%;
    height: 70%;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.img4{
    width: 120%;
    height: auto;
    transition: all .4s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(30px);
}

.img4intro{
    position: absolute;
    font-size: 60px;
    font-weight: 900;
    font-family: "Coolvetica";
    left: 20px;
    bottom: 10px;
    color: #ffffff;
    transition: all .4s ease-in-out;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(25px);
}

.box4:hover .img4{
    opacity: .5;
    transform: scale(1.1) translateX(30px);
}

.box4:hover .img4intro{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.box5{
    width: 100%;
    height: 30%;
    display: flex;
    border-radius: 0px;
    overflow: hidden;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.box5 >div{
    width: 15%;
    height: 100%;
    background-color: #e63946;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 90px;
    font-family: "Impact";
}

.boxline1{
    width: 100%;
    height: 100%;
    animation: upanimation 3s ease-in-out infinite;
}

@keyframes upanimation {
    0%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}

.boxline2{
    width: 100%;
    height: 100%;
    animation: upanimation2 3s ease-in-out infinite;
    animation-delay: 0.15s;
}

@keyframes upanimation2 {
    0%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}

.boxline3{
    width: 100%;
    height: 100%;
    animation: upanimation3 3s ease-in-out infinite;
    animation-delay: 0.3s;
}

@keyframes upanimation3 {
    0%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}

.boxline4{
    width: 100%;
    height: 100%;
    animation: upanimation4 3s ease-in-out infinite;
    animation-delay: 0.45s;
}

@keyframes upanimation4 {
    0%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}

.boxline5{
    width: 100%;
    height: 100%;
    animation: upanimation5 3s ease-in-out infinite;
    animation-delay: 0.6s;
}

@keyframes upanimation5 {
    0%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}

.boxline6{
    width: 100%;
    height: 100%;
    animation: upanimation6 3s ease-in-out infinite;
    animation-delay: 0.75s;
}

@keyframes upanimation6 {
    0%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}

#six{
    width: 100%;
    height: 50vh;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#six >a{
    width: 100%;
    height: 24%;
    border: 2px solid #e63946;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: 50px;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Impact";
    color: #ffffff;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    z-index: 1;
    transition: all .5s ease-in-out;
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

#six >a:before{
    content: "";
    width: 0%;
    height: 100%;
    left: 0;
    z-index: -1;
    position: absolute;
    background-color: #ffffff;
    transition: all .5s ease-in-out;
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

#six >a:hover:before{
    width: 100%;
}

#six >a:hover{
    color: #e63946;
    border: 2px solid #e6394700;
}

@media (min-height: 730px) {
    .container{
        height: 485vh;
    }

    #two{
        height: 60vh;
    }

    #four{
        height: 70vh;
    }

    #five{
        height: 100vh;
    }

    .fourtop{
        font-size: 60px;
    }
}

@media (max-width: 430px) {
    .container{
        height: 505vh;
    }

    .img1{
        opacity: 0;
        visibility: visible;
    }

    .onebtmleft{
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0px;
    }

    .onebtmright{
        width: 100%;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        padding-left: 40px;
    }

    .intro{
        font-size: 60px;
    }

    .intro1{
        font-size: 80px;
    }

    .twotop{
        width: 100%;
        height: 15%;
    }

    #two{
        height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .twobtm{
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .twobtmleft{
        width: 0%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        padding: 0px;
    }

    .twobtmright{
        width: 100%;
        height: 100%;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .twointro{
        opacity: 0;
        visibility: hidden;
        font-size: 0px;
    }

    #three{
        padding: 0px 30px 0px 30px;
    }

    .nameBox{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .intro3 >p{
        font-size: 27px;
    }

    .intro3 >p1{
        font-size: 15px;
    }

    .intro4{
        flex-direction: column-reverse;
    }

    .intro4 >p{
        font-size: 27px;
    }

    .intro4 >p1{
        font-size: 15px;
    }

    .skillname{
        font-size: 24px;
    }

    .fivebtm{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .fivebtmleft{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .fivebtmright{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .box1{
        width: 100%;
        height: 40%;
    }

    .box2{
        width: 100%;
        height: 60%;
    }

    .basketball{
        font-size: 60px;
    }

    .imgintro{
        font-size: 40px;
    }

    .img4intro{
        font-size: 40px;
    }
}






